*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 15% 85%;
    border-bottom: 1.5px solid #7A0030;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1.5px solid #7A0030;
   
}

#logo{
    width: 70%;
    object-fit: cover;
}

.header-announcement{
    letter-spacing: 0.4em;
    padding: 3px;
    border-bottom: 1.5px solid #7A0030;
}

.header-right nav{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
}

.header-right nav a{
    text-decoration: none;
    color: black;
    padding: 20px 0;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.header-right nav a:hover{
    background: #7A0030;
    color: white;
}