@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.grey-text{
    color: rgba(92, 92, 92, 0.76);
}

/* Header Section */
header{
    display: grid;
    grid-template-columns: 15% 85%;
    border-bottom: 1.5px solid #7A0030;
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1.5px solid #7A0030;
   
}

#logo{
    width: 70%;
    object-fit: cover;
}

.header-announcement{
    letter-spacing: 0.4em;
    padding: 10px 50px 0 0 ;
    border-bottom: 1.5px solid #7A0030;
}

.header-right nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
}

.header-right nav a{
    text-decoration: none;
    color: black;
    padding: 20px 0;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.header-right nav a:hover{
    background: #7A0030;
    color: white;
}

.search-bar{
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    background-color: rgba(218, 218, 218, 0.61);
}

#search{
    padding: 5px 8px;
    width: 90%;
    border: none;
    border-radius: 20px;
    -webkit-appearance: none;
    outline: none;
    background-color: #e8e8e8;
}

.fa-search{
    padding: 5px;
    border: 1px solid;
    border-radius: 50%;
    background-color: #7A0030;
    color: white;
    font-size: 14px;
}

.fa-shopping-cart{
    padding: 0 10px;
}

/* Section Heading */
.section-heading{
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #7A0030;
}